.features {
  display: flex;
  align-items: center;
  padding: 2rem 0;
  width: 100%;
}

.features img {
    max-height: 240px;
}

@media (max-width: 996px) {
    .features :global(.row .col.col.col ) {
        max-width: 320px;
    }

    .features :global(.row) {
        justify-content: center;
    }
}
