.components {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 100px 0 60px;
    width: 100%;

    background-color: var(--ifm-hero-background-color);

    clip-path: polygon(0 5%, 100% 3%, 100% 99%, 0 96%);

    min-height: 500px;
}

.components h1{
    font-size: 40px;
    margin-bottom: 30px;
}

.limitedContainer {
    width: 100%;
    max-width: 1500px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.compShowCase {
    margin-bottom: 30px;
    transition: clip 1s;
    background-color: var(--ifm-navbar-background-color);
}

.compShowCase:hover {
    clip-path: none;
    box-shadow: 2px 3px 20px 11px var(--ifm-navbar-link-hover-color);
}

html[data-theme='dark'] .compShowCase {
    background-color: var(--ifm-color-primary-darkest);
}

html[data-theme='dark'] .compShowCase:hover {
    box-shadow: 2px 3px 20px 11px var(--ifm-navbar-link-hover-color);
}

.showCaseLink {
    min-width: 360px;
    padding: 75px;
}

.showCaseLink:hover {
    text-decoration: none;
}

.compShowCase img {
    max-height: 250px;
    max-width: 300px;
    margin-right: 30px;
}

.componentText {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.componentText p {
    max-width: 200px;
    text-align: center;
}

@media (min-width: 750px) {
    .compShowCase {
        margin-right: 50px;
    }
}

@media (max-width: 750px) {
    .components {
        padding: 120px 0 100px;
    }

    .showCaseLink {
        padding: 65px 45px;
    }

    .compShowCase img {
        margin: 0 0 20px;
    }

    .compShowCase :global(.row) {
        flex-direction: column;
    }

    :global(.clip-path-3) {
        clip-path: polygon(5% 13%, 96% 9%, 100% 75%, 8% 87%);
        padding: 40px 0 90px;
    }
}

:global(.clip-path-1) {
    clip-path: polygon(5% 7%, 100% 12%, 92% 95%, 8% 87%);
}

:global(.clip-path-2) {
    clip-path: polygon(5% 7%, 94% 6%, 100% 96%, 2% 87%);
}

:global(.clip-path-3) {
    clip-path: polygon(5% 13%, 96% 9%, 100% 75%, 8% 87%);
}

:global(.clip-path-4) {
    clip-path: polygon(5% 13%, 96% 2%, 100% 93%, 4% 98%);
}
