.header-github-link:hover, .header-npm-version:hover {
    opacity: 0.75;
}

.header-github-link::before {
    content: '';
    width: 32px;
    height: 32px;
    display: flex;
    margin-top: 2px;
    background: url("data:image/svg+xml,%3Csvg viewBox='0 0 28 28' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M12 .297c-6.63 0-12 5.373-12 12 0 5.303 3.438 9.8 8.205 11.385.6.113.82-.258.82-.577 0-.285-.01-1.04-.015-2.04-3.338.724-4.042-1.61-4.042-1.61C4.422 18.07 3.633 17.7 3.633 17.7c-1.087-.744.084-.729.084-.729 1.205.084 1.838 1.236 1.838 1.236 1.07 1.835 2.809 1.305 3.495.998.108-.776.417-1.305.76-1.605-2.665-.3-5.466-1.332-5.466-5.93 0-1.31.465-2.38 1.235-3.22-.135-.303-.54-1.523.105-3.176 0 0 1.005-.322 3.3 1.23.96-.267 1.98-.399 3-.405 1.02.006 2.04.138 3 .405 2.28-1.552 3.285-1.23 3.285-1.23.645 1.653.24 2.873.12 3.176.765.84 1.23 1.91 1.23 3.22 0 4.61-2.805 5.625-5.475 5.92.42.36.81 1.096.81 2.22 0 1.606-.015 2.896-.015 3.286 0 .315.21.69.825.57C20.565 22.092 24 17.592 24 12.297c0-6.627-5.373-12-12-12'/%3E%3C/svg%3E") no-repeat;
}

html[data-theme='dark'] .header-github-link::before {
    background: url("data:image/svg+xml,%3Csvg viewBox='0 0 28 28' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill='white' d='M12 .297c-6.63 0-12 5.373-12 12 0 5.303 3.438 9.8 8.205 11.385.6.113.82-.258.82-.577 0-.285-.01-1.04-.015-2.04-3.338.724-4.042-1.61-4.042-1.61C4.422 18.07 3.633 17.7 3.633 17.7c-1.087-.744.084-.729.084-.729 1.205.084 1.838 1.236 1.838 1.236 1.07 1.835 2.809 1.305 3.495.998.108-.776.417-1.305.76-1.605-2.665-.3-5.466-1.332-5.466-5.93 0-1.31.465-2.38 1.235-3.22-.135-.303-.54-1.523.105-3.176 0 0 1.005-.322 3.3 1.23.96-.267 1.98-.399 3-.405 1.02.006 2.04.138 3 .405 2.28-1.552 3.285-1.23 3.285-1.23.645 1.653.24 2.873.12 3.176.765.84 1.23 1.91 1.23 3.22 0 4.61-2.805 5.625-5.475 5.92.42.36.81 1.096.81 2.22 0 1.606-.015 2.896-.015 3.286 0 .315.21.69.825.57C20.565 22.092 24 17.592 24 12.297c0-6.627-5.373-12-12-12'/%3E%3C/svg%3E") no-repeat;
}

.header-npm-version {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 6px;
    margin-right: 6px;
    margin-left: 6px;
    padding: 0 4px;
    background-color: #252222;
    color: var(--ifm-navbar-background-color);
    font-size: 14px;
    font-weight: bold;
}

html[data-theme='dark'] .header-npm-version {
    background-color: #FFF;
}

html[data-theme='dark'] .header-npm-version:hover {
    color: var(--ifm-color-primary-lighter);
}

.header-npm-version::before {
    content: '';
    width: 42px;
    height: 28px;
    display: inline-block;
    background: url("data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4NCjwhRE9DVFlQRSBzdmcgUFVCTElDICItLy9XM0MvL0RURCBTVkcgMS4xLy9FTiIgImh0dHA6Ly93d3cudzMub3JnL0dyYXBoaWNzL1NWRy8xLjEvRFREL3N2ZzExLmR0ZCI+DQo8c3ZnIHZlcnNpb249IjEuMSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB4PSIwcHgiIHk9IjBweCIgd2lkdGg9IjU0cHgiIGhlaWdodD0iMjFweCIgdmlld0JveD0iMCAwIDE4IDciPg0KPHBhdGggZmlsbD0iI0NCMzgzNyIgZD0iTTAsMGgxOHY2SDl2MUg1VjZIMFYweiBNMSw1aDJWMmgxdjNoMVYxSDFWNXogTTYsMXY1aDJWNWgyVjFINnogTTgsMmgxdjJIOFYyeiBNMTEsMXY0aDJWMmgxdjNoMVYyaDF2M2gxVjFIMTF6Ii8+DQo8cG9seWdvbiBmaWxsPSIjRkZGRkZGIiBwb2ludHM9IjEsNSAzLDUgMywyIDQsMiA0LDUgNSw1IDUsMSAxLDEgIi8+DQo8cGF0aCBmaWxsPSIjRkZGRkZGIiBkPSJNNiwxdjVoMlY1aDJWMUg2eiBNOSw0SDhWMmgxVjR6Ii8+DQo8cG9seWdvbiBmaWxsPSIjRkZGRkZGIiBwb2ludHM9IjExLDEgMTEsNSAxMyw1IDEzLDIgMTQsMiAxNCw1IDE1LDUgMTUsMiAxNiwyIDE2LDUgMTcsNSAxNywxICIvPg0KPC9zdmc+DQo=") no-repeat;
    background-size: contain;
    margin-right: 2px;
    top: 7px;
    position: relative;
}
