.quotesContainer {
    --ifm-hero-text-color: #FFFFFF;
    margin: 40px 0;
    /*background-color: var(--ifm-hero-background-color);*/
    color: var(--ifm-hero-text-color);
}

html[data-theme='dark'] .quotesContainer {
    --ifm-hero-text-color: #000000;
}

.quote {
    --quote-bg-color: rgba(28, 35, 40, 0.5);
    position: relative;
    font-weight: bold;
    margin-bottom: 20px;
    border-radius: 50%;
}

@media (min-width: 1600px) {
    .quote {
        margin-right: 40px;
    }
}

.quoteHighlight {
    position: absolute;
    width: 85%;
    height: 90%;
    background-color: var( --quote-bg-color);
    display: block;
    border-radius: 100%;
    left: 50%;
    transform: translate(-50%, -40%);
    top: 50%;

    transition: box-shadow 0.2s;
}

.quoteHighlight:hover {
    box-shadow: 2px 3px 20px 11px #44446496;
}

.quotesContainer :global(.row) {
    justify-content: center;
}

.quotesContainer :global(.row .col.col.col) {
    max-width: 400px;
}

@media (max-width: 800px) {
    .quotesContainer :global(.row .col.col.col) {
        --ifm-col-width: 80%;
        min-width: 300px;
    }
}

.quote svg {
    color: #000000;
}

html[data-theme='dark'] .quote svg {
    color: #FFFFFF;
}

html[data-theme='dark'] .quote {
    --quote-bg-color: rgba(214, 227, 236, 0.5);
}

/*.quote::before {*/
/*    content: "";*/
/*    width: 85%;*/
/*    height: 90%;*/
/*    background-color: var( --quote-bg-color);*/
/*    display: block;*/
/*    position: absolute;*/
/*    border-radius: 100%;*/
/*    z-index: -1;*/
/*    left: 50%;*/
/*    transform: translate(-50%, -40%);*/
/*    top: 50%;*/
/*}*/

.quote p {
    position: relative;
    padding: 0 10%;
}

.quote h3 {
    position: relative;
    margin-top: 40px;
}

.quote svg {
    position: absolute;
    left: 14%;
    top: 20%;
}
