/**
 * Any CSS included here will be global. The classic template
 * bundles Infima by default. Infima is a CSS framework designed to
 * work well for content-centric websites.
 */

/* You can override the default Infima variables here. */
:root {
    --ifm-background-color: #f6f6f6;
    --ifm-color-primary: #6888c9;
    --ifm-color-primary-dark: #10398a;
    --ifm-color-primary-darker: #09255b;
    --ifm-color-primary-darkest: #041028;
    --ifm-color-primary-light: rgb(72, 119, 133);
    --ifm-color-primary-lighter: rgb(110, 163, 178);
    --ifm-color-primary-lightest: rgb(146, 206, 224);
    --ifm-code-font-size: 95%;

    --ifm-navbar-background-color: rgba(188, 212, 238, 0.86);

    --ifm-navbar-link-hover-color: var(--ifm-color-primary-darkest);
    --ifm-menu-color-active: var(--ifm-color-primary-darkest);

    --ifm-table-stripe-background: rgba(115, 145, 168, 0.5);

    --ifm-font-color-base-inverse: #000000;
    --ifm-button-color: #FFFFFF;

    --ifm-font-family-base: 'Source Sans Pro', sans-serif;
    --ifm-heading-font-family: 'Source Sans Pro', sans-serif;

    --collapse-button-bg-color-dark: var(--ifm-color-primary-dark);

    --side-menu-background-color: #fafafa;

    --ifm-navbar-item-padding-horizontal: 10px;
}

html[data-theme='dark'] {
    --ifm-background-color: #041323;
    --ifm-navbar-background-color: rgba(5, 38, 73, 0.86);

    --ifm-color-primary: #092358;
    --ifm-font-color-base-inverse: #FFFFFF;

    --ifm-color-primary-darker: #929eb7;
    --ifm-button-color: #000000;

    --ifm-navbar-link-hover-color: var(--ifm-color-primary-lightest);
    --ifm-menu-color-active: var(--ifm-color-primary-lightest);

    --ifm-link-color: var(--ifm-color-primary-lighter);

    --ifm-table-stripe-background: rgba(72, 96, 133, 0.34);

    --ifm-tabs-color-active-border: var(--ifm-color-primary-lightest);
    --ifm-tabs-color-active: var(--ifm-color-primary-light);

    --collapse-button-bg-color-dark: var(--ifm-color-primary-light);

    --side-menu-background-color: #04111f;

    --ifm-card-background-color: var(--ifm-color-primary);
}

html[data-theme='light'] .DocSearch {
    --docsearch-highlight-color: var(--ifm-color-primary);
    --docsearch-modal-shadow: 0 0 14px 2px var(--ifm-color-primary-dark);
}

html[data-theme='dark'] .DocSearch {
    --docsearch-modal-background: var(--ifm-color-primary-darkest);
    --docsearch-muted-color: #9a9eab;
    --docsearch-highlight-color: var(--ifm-color-primary-lightest);
    --docsearch-hit-active-color: #000;
    --docsearch-footer-background: #010715;

    --docsearch-modal-shadow: 0 0 10px 0 var(--ifm-color-primary-lighter);
}

html[data-theme='dark'] a[class*='cardContainer_']:hover {
    background-color: var(--ifm-color-primary-darkest);
}

/*a[class*='cardContainer_']:hover {*/
/*    background-color: var(--ifm-color-primary);*/
/*}*/

.theme-doc-markdown header h1 {
    position: relative;
    display: inline-block;
    margin-bottom: 10px;
}

.theme-doc-markdown header h1::before {
    display: block;
    position: absolute;
    width: 85%;
    height: 40px;
    bottom: -6px;
    content: "";
    background-color: rgba(27, 59, 86, 0.82);
    clip-path: polygon(16% 90%, 100% 77%, 0% 70%, 12% 92%);
}

html[data-theme='dark'] .theme-doc-markdown header h1::before {
    background-color: rgba(148, 199, 243, 0.27);
}

footer.footer--dark {
    --ifm-footer-background-color: #384762;
    box-shadow: 1px 0 6px 0 var(--ifm-color-primary-darkest);
    z-index: 1;
}

html[data-theme='dark'] footer.footer--dark {
    --ifm-footer-background-color: #030c1a;
    box-shadow: 1px 0 10px 0 var(--ifm-color-primary-lighter);
}

.docusaurus-highlight-code-line {
  background-color: rgba(0, 0, 0, 0.1);
  display: block;
  margin: 0 calc(-1 * var(--ifm-pre-padding));
  padding: 0 var(--ifm-pre-padding);
}

aside[class^='docSidebarContainer'] {
    background-color: var(--side-menu-background-color);
    border: 0;
}

html[data-theme='dark'] .docusaurus-highlight-code-line {
  background-color: rgba(0, 0, 0, 0.3);
}

div[class^='announcementBar_'] {
    background-color: var(--ifm-color-primary-darkest);
    color: #FFFFFF;
}

div[class^='announcementBar_'] .close {
    color: #FFFFFF;
}

html[data-theme='dark'] div[class^='announcementBar_'] {
    background-color: var(--ifm-color-primary-lightest);
    color: var(--ifm-color-primary-darkest);
}

html[data-theme='dark'] div[class^='announcementBar_'] .close {
    color: var(--ifm-color-primary-darkest);
}

html[data-theme='dark'] .table-of-contents__link--active {
    color: var(--ifm-color-primary-light);
}

html[data-theme='dark'] table tr:nth-child(2n) a {
    color: #adbabe;
}

html[data-theme='dark'] .table-of-contents__link:hover {
    color: var(--ifm-color-primary-lightest);
}

.navbar {
    box-shadow: -1px 0 6px 0 var(--ifm-color-primary-darkest);
}

html[data-theme='dark'] .navbar {
    box-shadow: -1px 0 6px 0 var(--ifm-color-primary-lighter);
}

.missing-content-box {

}

.missing-content-box p {
    font-size: 22px;
    color: red;
    background-color: rgba(255, 255, 0, 0.24);
    padding-left: 10px;
}

table td, table th {
    box-shadow: 1px 1px 2px 0 rgba(17, 40, 59, 0.4);
}
/*table tr {*/
/*    box-shadow: 0 -2px 4px 0 inset rgba(17, 40, 59, 0.75);*/
/*}*/

table tr, table td, table, thead, table th, table thead tr {
    border: none;
}

html[data-theme='dark'] table td, html[data-theme='dark'] table th {
    box-shadow: 1px 1px 2px 0 rgba(144, 198, 242, 0.55);
}

/*html[data-theme='dark'] table tr {*/
/*    box-shadow: 0 -2px 2px 0 inset rgba(144, 198, 242, 0.75);*/
/*}*/

button[class*='collapseSidebarButton_'] {
    border: 0;
    box-shadow: 1px 0 2px 0 var(--ifm-color-primary-light);
}

html[data-theme='dark'] button[class*='collapseSidebarButton_'] {
    background-color: var(--side-menu-background-color);
    box-shadow: 1px 0 2px 0 var(--ifm-color-primary-dark);
}

button[class*='collapseSidebarButton_']:hover, div[class^='collapsedDocSidebar_']:hover {
    background-color: var(--ifm-color-primary-darkest);
}

html[data-theme='dark'] button[class*='collapseSidebarButton_']:hover {
    background-color: var(--ifm-color-primary-light);
}

.theme-doc-sidebar-item-link a {
    word-break: break-all;
}

.navbar__brand {
    font-size: 18px;
}

a.navbar__item.navbar__link {
    font-weight: bold;
}

.navbar__logo {
    height: 40px;
}

a[class^='sidebarLogo_'] img {
    height: 40px;
}

a[class^='sidebarLogo_'] b {
    font-size: 18px;
}

.navbar-sidebar__item .header-npm-version {
    max-width: 60px;
}

.footer__logo {
    height: 96px;
}

/* latin */
@font-face {
    font-family: 'Source Sans Pro';
    font-style: italic;
    font-weight: 400;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/sourcesanspro/v18/6xK1dSBYKcSV-LCoeQqfX1RYOo3qPZ7nsDJB9cme.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* latin */
@font-face {
    font-family: 'Source Sans Pro';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/sourcesanspro/v18/6xK3dSBYKcSV-LCoeQqfX1RYOo3qOK7lujVj9w.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* latin */
@font-face {
    font-family: 'Source Sans Pro';
    font-style: normal;
    font-weight: 700;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/sourcesanspro/v18/6xKydSBYKcSV-LCoeQqfX1RYOo3ig4vwlxdu3cOWxw.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
