.videos {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.videos img {
    /*max-width: 300px;*/
}

.videos a {
    min-width: 360px;
    margin: 0 20px 20px 0;
}


.videoTitle {
    font-weight: bold;
}
